<!DOCTYPE html>
<html lang="en">

  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Stefan's Blog</title>
  <meta name="description" content="Stefan's blog">

  <link rel="stylesheet" href="/assets/main.css">
</head>

  <body>
    <header class="site-header" role="banner">
      <div class="wrapper">
        <a class="site-title" href="/">Stefan's Blog</a>
      </div>
    </header>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div class="home">
        <div id="content">
          {{ content }}
        </div>
        </div>
      </div>
    </main>

  <footer class="site-footer">
  </footer>


  </body>

</html>
